<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>editpage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link href="../static/bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/mycss/login.css" rel="stylesheet"/>
    <link href="../static/mycss/homepage.css" rel="stylesheet"/>
    <link href="../static/mycss/logo.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
    <style>
        .clearfix {
            clear: both;
        }

        .btn {
            margin: 5px;
            width: 75px
        }

        .plain-text {
            height: 100%;
            width: 100%;
            overflow: auto;
        }

        .markdown {
            height: 100%;
            width: 100%;
            overflow: auto;
        }

        .orbit {
            stroke-dashoffset: 121;
        }

        /* 鼠标hover在两个框上的效果 */
        .plain-text:hover {
            border-color: #999;
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
            transition: border-color 0.3s ease;
            transition: box-shadow 0.5s ease;
        }

        .markdown:hover {
            border-color: #999;
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.5s ease;
        }
    </style>
    <link href="../static/mycss/login.css" rel="stylesheet">
</head>

<body>
<div style="margin: 0; padding: 0; width: 100%; height: 100%">
    <!-- 左侧导航栏 -->
    {% if message %}
    <div class="alert alert-danger fixed-top fade-in text-center" role="alert">
        <script>
            setTimeout(function () {
                document.querySelector('.alert').classList.remove('fade-in');
                document.querySelector('.alert').classList.add('fade-out');
            }, 2000);
        </script>
        {{ message }}
    </div>
    {% endif %}
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    <svg class="sat-loader" viewBox="0 0 100 100">
                        <circle class="sat sat-back"></circle>
                        <circle class="earth"></circle>
                        <ellipse class="orbit"></ellipse>
                        <circle class="sat sat-front"></circle>
                    </svg>
                    <span class="navbar__name">
                        {{ username }}
                    </span>
                </a>
            </li>
            <li class="navbar__item">
                <!-- a标签使用 url_for 的同时，传递 username 这个参数 -->
                <a href="{{ url_for('homepage', username=username) }}" class="navbar__link">
                    <i data-feather="home"></i><span>主页</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('sourcepage', username=username) }}" class="navbar__link">
                    <i data-feather="folder"></i><span>文档库</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('sharepage', username=username) }}" class="navbar__link">
                    <i data-feather="users"></i><span>分享</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('help', username=username) }}" class="navbar__link">
                    <i data-feather="help-circle"></i>
                    <span>帮助</span></a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('setting', username=username) }}" class="navbar__link">
                    <i data-feather="settings"></i>
                    <span>设置</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('start')}}" class="navbar__link">
                    <i data-feather="log-out"></i>
                    <span>退出</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 右侧内容, 切分出两个部分, 分别是文本输入框, 和显示 markdown 渲染后的效果 -->
    <div class="clearfix" style="margin: 0 0 0 150px; width: 85%; height: 90%">
        <!-- 顶部状态栏 -->
        <div class="clearfix" style="height: 50px;">
            <!-- 返回按钮，按下触发回到 sourcepage -->
            <button type="button" class="btn btn-primary float-left" style="margin: 5px 5px 5px 20px" onclick="function BackToSource() {
                window.location.href = '{{ url_for('sourcepage', username=username) }}'
            }
            BackToSource()">返回</button>

            <div class="float-left" style="display: flex; align-items: center; justify-content: center; width: 400px; height:50px;">
                <h3 style="text-align: center; margin: 8px 0;">正在编辑 {{ docname }}</h3>
            </div>

            <button type="button" class="btn btn-danger float-right" onclick="DeleteDoc()">删除</button>
            <button type="button" class="btn btn-success float-right" onclick="SaveDoc()">保存</button>
            <button type="button" class="btn btn-info float-right" onclick="GetPDF()">导出</button>
        </div>
        <!-- 左侧文本输入框 -->
        <div class="float-left col-6 plain-text" style="padding: 0;">
            <!-- 文本输入框, 需要保留用户输入的换行回车等操作 -->
            <form style="width: 100%; height: 100%;" id="textform" method="post" action="{{ url_for('savedoc', username=username, docname=docname) }}">
                <textarea style="width: 100%; height: 100%;" name="plain-text" id="plain-text" cols="30" rows="10"
                          wrap="hard">{{ content }}</textarea>
                          <!-- 将owner的信息也放入 -->
                          <input type="hidden" name="ownername" value="{{ request.args.get('ownername') }}">
            </form>
        </div>

        <!-- 右侧 markdown 渲染后的效果 -->
        <div class="float-right col-6 markdown" style="
            font-size: 20px;
            overflow: auto;
            background-color: #fff;
            border-style: solid;
            border-width: 1px;
          "
        >
        <div id="markdown-rendered"></div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/feather-icons"></script>
<script src="../static/myjs/homepage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.1.3/marked.min.js"></script>
<script>
    // 获取文本输入框和渲染结果的容器
    var md = window.markdownit();
    var plainTextInput = document.getElementById("plain-text");
    var markdownRendered = document.getElementById("markdown-rendered");
    markdownRendered.innerHTML = md.render(plainTextInput.value);

    // 判断输入框是否为空, 不为空, 则渲染 Markdown
    plainTextInput.addEventListener("input", function () {
        // 获取输入的 Markdown 文本
        var markdownText = plainTextInput.value;
        // 将渲染后的 HTML 插入到渲染结果的容器中
        markdownRendered.innerHTML = md.render(markdownText);
    });
    // 定义相关按钮函数
    function DeleteDoc() {
        // 弹出确认框
        var r = confirm("确认删除文档吗?");
        if (r == true) {
            window.location.href = "{{ url_for('deletedoc', username=username) }}" + "&docname=" + '{{ docname }}';
        }
    }

    function SaveDoc() {
        // 提交表单
        document.getElementById("textform").submit();
    }

    function GetPDF() {
        // 将获取 markdown 渲染后的文本转换为 pdf
        var element = document.getElementById("markdown-rendered");
        // 启用页码功能 需要防止页面分页, 否则会出现分页后的内容被截断的情况
        var opt = {
            margin: 0.5,
            filename: '{{ docname }}.pdf',
            image: {type: 'jpeg', quality: 0.98},
            html2canvas: {scale: 2},
            jsPDF: {unit: 'in', format: 'a4', orientation: 'portrait', putTotalPages: true},
            autoPaging: 'text'
        };
        html2pdf().set(opt).from(element).save();
    }
</script>
<script src="../static/myjs/shapes.js"></script>
<script src="../static/myjs/shapegenerator.js"></script>
<script>
    let element = document.body;
    let colorList = [
        "#a29bfe","#ffeaa7","#ff7675","#fd79a8","#ff7675","#55efc4","#636e72"
    ];
    let numberOfShapes = 5;
    let mode = 2;
    console.log("mode: " + mode);
    let rotation = true;
    generateShapes(element, colorList, numberOfShapes, mode, rotation);
</script>
</body>
</html>