<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>setting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link href="../static/bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/mycss/login.css" rel="stylesheet"/>
    <link href="../static/mycss/homepage.css" rel="stylesheet"/>
    <link href="../static/mycss/logo.css" rel="stylesheet">
    <style>
        .clearfix {
            clear: both;
        }
        .orbit {
            stroke-dashoffset: 121;
        }
    </style>
</head>

<body>
<div style="margin: 0; padding: 0; width: 100%; height: 100%; position: relative">
    <!-- 左侧导航栏 -->
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="#" class="navbar__link">
                    <svg class="sat-loader" viewBox="0 0 100 100">
                        <circle class="sat sat-back"></circle>
                        <circle class="earth"></circle>
                        <ellipse class="orbit"></ellipse>
                        <circle class="sat sat-front"></circle>
                    </svg>
                    <span class="navbar__name">
                        {{ username }}
                    </span>
                </a>
            </li>

            <li class="navbar__item">
                <!-- a标签使用 url_for 的同时，传递 username 这个参数 -->
                <a href="{{ url_for('homepage', username=username) }}" class="navbar__link">
                    <i data-feather="home"></i><span>主页</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('sourcepage', username=username) }}" class="navbar__link">
                    <i data-feather="folder"></i><span>文档库</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('sharepage', username=username) }}" class="navbar__link">
                    <i data-feather="users"></i><span>分享</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('help', username=username) }}" class="navbar__link">
                    <i data-feather="help-circle"></i>
                    <span>帮助</span></a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('setting', username=username) }}" class="navbar__link">
                    <i data-feather="settings"></i>
                    <span>设置</span>
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('start')}}" class="navbar__link">
                    <i data-feather="log-out"></i>
                    <span>退出</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 右侧内容 -->
    <!-- 构造一个修改账号信息的表单 -->
    <div class="text-center" style="width: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <form action="{{ url_for('changeinfo') }}" method="post">
            <input type="hidden" name="old_username" value="{{ username }}">
            <div class="form-group">
                <label for="username" class="float-left"><h3>用户名</h3></label>
                <input type="text" name="username" class="form-control" value="{{ username }}" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="email" class="float-left"><h3>邮箱</h3></label>
                <input type="text" name="email" class="form-control" value="{{ email }}" placeholder="请输入邮箱">
            </div>
            <div class="form-group">
                <label for="phone" class="float-left"><h3>手机号</h3></label>
                <input type="text" name="phone" class="form-control" value="{{ phone }}" placeholder="请输入手机号">
            </div>
            <div class="form-group">
                <label for="password" class="float-left"><h3>新密码</h3></label>
                <input type="password" name="new_password" class="form-control" placeholder="新密码">
            </div>
            <div class="form-group">
                <label for="password" class="float-left"><h3>确认你的密码</h3></label>
                <input type="password" name="confirm_password" class="form-control" placeholder="确认你的密码">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">更改</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../static/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="../static/myjs/homepage.js"></script>
<!-- 背景 -->
<script src="../static/myjs/shapes.js"></script>
<script src="../static/myjs/shapegenerator.js"></script>
<script>
    let element = document.body;
    let colorList = [
        "#a29bfe","#ffeaa7","#ff7675","#fd79a8","#ff7675","#55efc4","#636e72"
    ];
    let numberOfShapes = 4;
    let mode = 2;
    console.log("mode: " + mode);
    let rotation = true;
    generateShapes(element, colorList, numberOfShapes, mode, rotation);
</script>
</body>
</html>
